<h2>Edit <%= @user.username %>'s Linguistic Profile</h2>

<h4>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
</h4>

<% if @user.languages.empty? %>
  <h3>Select Native Language</h3>
<% else %>
  <h3>Select Language You Wish To Learn</h3>
<% end %>
<form action="/speakers/<%=@user.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <%Language.all.each do |language| %>
    <input type="radio" name="language_name" id="<%=language.language_name%>" value="<%=language.language_name%>" <%='checked' if @user.languages.include?(language)%>><%=language.language_name%></input>
  <%end%>
  <input type="submit" name="submit" value="Add Language">

</form>
  <br>
  <a href="/speakers/show">Back to Home Page</a>
