<h1>And here is the speakers home page</h1>

<h2>User Name: <%=@user.username%></h2>

<h3>Known Languages:</h3>
  <%@user.languages.all.each do |language| %>
    <li><a href="/languages/<%=language.slug%>"><%= language.language_name %></a></li>
  <% end %>
  <%if @user.languages.empty? %>
    <a href="/languages/<%=@user.id%>/edit">No languages. Please add initial language</a>
  <% end %>
  <a href="/languages/<%=@user.id%>/edit">Add/Edit a Speaker's Languages</a>
